interactions:
  - request:
      body:
        '{"monitor_type": "status", "url": "https://facebook.com", "pronounceable_name":
        "Facebook homepage", "email": true, "sms": false, "call": false, "check_frequency":
        30, "request_headers": [{"name": "X-Custom-Header", "value": "custom header
        value"}]}'
      headers:
        Content-Type:
          - application/json
      method: POST
      uri: https://betteruptime.com/api/v2/monitors
    response:
      body:
        string:
          '{"data":{"id":"123456","type":"monitor","attributes":{"url":"https://facebook.com","pronounceable_name":"Facebook
          homepage","monitor_type":"status","monitor_group_id":null,"last_checked_at":null,"status":"pending","policy_id":null,"required_keyword":null,"verify_ssl":true,"check_frequency":30,"call":false,"sms":false,"email":true,"push":true,"team_wait":null,"http_method":"get","request_timeout":30,"recovery_period":180,"request_headers":[{"id":"75573","name":"X-Custom-Header","value":"custom
          header value"}],"request_body":null,"follow_redirects":true,"remember_cookies":true,"created_at":"2022-04-14T10:16:18.021Z","updated_at":"2022-04-14T10:16:18.021Z","ssl_expiration":null,"domain_expiration":null,"regions":null,"expected_status_codes":[],"port":null,"confirmation_period":0,"paused_at":null,"paused":false,"maintenance_from":null,"maintenance_to":null,"maintenance_timezone":null},"relationships":{"policy":{"data":null}}}}'
      headers:
        Content-Type:
          - application/json; charset=utf-8
      status:
        code: 201
        message: Created
version: 1
